.card-container {
    backdrop-filter: blur(2px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 400px;
    height: 200px;
    text-align: center;
}
.dots {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.more-btn {
    position:absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.more-menu {
    position: absolute;
    top: 40px;
    right: 0;
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}

p {
    cursor: pointer;
}

p:hover {
    background-color: #f2f2f2;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 25px;
}

h5 {
    font-style: italic;
}
