#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none; /* Remove background color from the header */
  padding: 10px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 50px;
}

.header h3 {
  margin: 0;
  font-size: 25px;
  background: -webkit-linear-gradient(#4B0082, #FF8C00); /* Add webkit linear gradient to the h3 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header-btn {
  background: none; /* Remove background color from the buttons */
  border: none;
  color: transparent;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  background-image: radial-gradient(#4B0082, #FF8C00); /* Add radial gradient to the buttons */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header-btn:hover {
  background-image: radial-gradient(#FF8C00, #4B0082);
}
